header{
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #da74a1;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  gap: 1rem;
}

h1, a {
  text-decoration: none;
  color: #f5f7f7;
}

.logo {
  height: 3rem;
  fill: #dff9fb;
  flex-shrink: 0; 
}
.logo:hover {
  fill: #ff7979;
}